*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 120px;
    background-color: aqua;
    margin-bottom: 500px;
}

.header_image_pattern{
    background-repeat: repeat-y;
    background-image: url("img/pattern.png");
    width: 100%;
    height: 100%;
}

.tim{
    display: inline-block;
    object-fit: cover;
    width: 48%;
    height: 400px;
}

figure{
    margin: 0;
}

figcaption{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

p{
    font-size: 10px;
}

.top_figcaption{
    color: grey;
}

.top_figcaption a{
    color: blue;

}